# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE and Editor directories
.idea/
.vscode/

# Temporary files
*.tmp
*.bak
*.swp

# Miscellaneous
.DS_Store
.cache/
